{% extends 'new_base.html' %}

{% block content %}
    <h1>به روز رسانی اطلاعات سرویس وایرلس:</h1>

    <div class = 'form-group'>
        <form method='POST' action='#'><form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">به روز رسانی</button>
            {{form.media}}
            <button type = 'button' class="btn btn-primary">
                <a href = "{% url 'customerservice:wireless-detail-list' pk=wireless.pk %}" >انصراف</a>
            </button>
        </form>
    </div>
{% endblock %}
