{% extends 'new_base.html' %}
{% block content %}
<div id="sm_ten" class="col-sm-10">
    <div class="list_legend">جزئیات مشترک:</div>
    <div class="p-5" style = 'border: 1px solid rgb(176, 176, 173);
    border-radius: 8px'>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th scope="col">نام</th>
                    <td scope="col">{{customer.commercialname}}</td>
                </tr>
                <tr>
                    <th scope="col">برند</th>
                    <td>{{customer.brand}}</td>
                </tr>
                <tr>
                    <th scope="col">شهر</th>
                    <td>{{customer.city}}</td>
                </tr>
                <tr>
                    <th scope="col">آدرس</th>
                    <td>{{customer.address}}</td>
                </tr>
                <tr>
                    <th scope="col">تلفن</th>
                    <td>{{customer.phone}}</td>
                </tr>
                <tr>
                    <th scope="col">نوع</th>
                    <td>{{customer.kind}}</td>
                </tr>
                <tr>
                    <th scope="col">توضیحات</th>
                    <td>{{customer.notes}}</td>
                </tr>
            </table>
        </div> 

        <div class="row"  style="padding-top: 25px;">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 d-flex justify-content-center">
                <div class="ps-3">
                    <button type = 'button' class="btn btn-warning">
                        <a href = "{% url 'customerservice:customer-update' pk=customer.pk %}" >ویرایش</a>
                    </button>
                </div>
                <div class="ps-3">
                    <button type = 'button' class="btn btn-danger">
                        <a href = "{% url 'customerservice:customer-delete' pk=customer.pk %}" >حذف</a>
                    </button>
                </div>
                <div class="ps-3">
                    <button type = 'button' class="btn btn-primary">
                        <a href = "{% url 'customerservice:customers-list' %}" >بازگشت </a>
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        <!-- row form buttons -->
        </div>
    </div>
<!-- sm-10 -->
</div>
{% endblock %}