{% extends 'new_base.html' %}
{% block content %}
    <h1>افزودن مشترک</h1>
    <div class = 'form-group'>
        <form action='' method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">افزودن</button>
            {{form.media}}
            <button type = 'button' class="btn btn-primary">
                <a href = "{% url 'customerservice:customers-list' %}" >انصراف</a>
            </button>
        </form>
    </div>
{% endblock %}            