{% extends 'new_base.html' %}

{% block content %}
    <h1>به روز رسانی اطلاعات نماینده:</h1>
    <div class = 'form-group'>
        <form method='POST' action='#'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">به روز رسانی</button>
            {{form.media}}
            <button type = 'button' class="btn btn-primary">
                <a href = "{% url 'customerservice:agent-detail-list' pk=agent.pk %}" >انصراف</a>
            </button>
        </form>
    </div>
{% endblock %}
