{% extends 'new_base.html' %}
{% block content %}


    <div id="sm_ten" >
        <div class="list_legend d-flex justify-content-between">
            <div>داشبورد:</div>
            <div ><img src="/static/dashboard.png" width="40"></div>
        </div>
        <div class="p-5" style = 'border: 1px solid rgb(176, 176, 173);
        border-radius: 8px'>
            
                <a href = "customers/video" >اطلاعات مربوط به مشترک ویدئو کنفرانس ایران</a> 

            <h1 class = 'titr m-30' >داشبورد</h1>
                <ul>
                    <li>تعداد کل قراردادها: {{num_contract}}</li>
                    <li>تعداد کل مشترکین: {{num_customer}}</li>
                    <li>تعداد کل نماینده ها: {{num_agent}}</li>
                    <li>تعداد کل سرویسهای وایرلس: {{num_wireless}}</li>
                    <li>تعداد کل سرویسهای ابری: {{num_cloud}}</li>
                </ul>
                </br>
                <p>Your IP is:</p>{{user_ip}}
                </br>
                </br>
                <p>Numbers of visits:</p>{{num_visits}}
                </br>
                <!-- <p>after deleting emergeny-fix</p> -->
                </br>
                نام مشترکین اخیر:
                </br>
                {% for items in latest_customers %}
                    <ul>
                        <li>نام مشترک: {{items}}</li>
                    </ul>
                {% endfor %}
        </div>
    <!-- sm-10 -->
    </div>
{% endblock %}