{% extends 'new_base.html' %}
{% block content %}

    <div id="sm_ten" class="col-sm-10">
        <div class="list_legend d-flex justify-content-between">
            <div>داشبورد:</div>
            <div ><img src="/static/dashboard.png" width="40"></div>
        </div>
        <!-- <div class="col-sm-10" style = 'border: 9px solid blue;
        border-radius: 5px;'> -->
        <div class="p-5" style = 'border: 1px solid rgb(176, 176, 173);
        border-radius: 8px'>
            
                <a href = "customers/video" >اطلاعات مربوط به مشترک ویدئو کنفرانس ایران</a> 

            
                </br>
                <p>Numbers of visits:</p>{{num_visits}}
                </br>
                <!-- <p>after deleting emergeny-fix</p> -->
                
        </div>
    <!-- sm-10 -->
    </div>
{% endblock %}