<!DOCTYPE html>
{%load static%}
<html lang = "fa-IR" dir="rtl">
    <head>
    {% block title %}<title>مدیریت ارتباط با مشتری</title>{% endblock title %}
    <meta charset = 'utf-8'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-OXTEbYDqaX2ZY/BOaZV/yFGChYHtrXH2nyXJ372n2Y8abBhrqacCEe+3qhSHtLjy" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js" integrity="sha512-5+FrEmSijjxRArJWeLcCIEgoQYAgU0gSa9MgNMN+tVSS+MPZsEk9a7OkPZr7AzjNJng1Kl+tXOQVtJcsU+Ax0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel = 'stylesheet' href = "{% static 'styles.css'%} ">
    <link rel = 'stylesheet' media = 'screen and (max-width:678px)' href = "{% static 'mobile.css'%} ">
    </head>
    <body>
        <div class="container-fluid p-5 bg-primary text-white text-center" 
        style = 'border: 9px solid gray;
        border-radius: 5px;'>>
            <h1>My First Bootstrap Page</h1>
            <p>Resize this responsive page to see the effect!</p>
          </div>
          
          <div class="container mt-5" style = 'border: 9px solid green;
          border-radius: 5px;'>
            <div class="row" style = 'border: 9px solid black;
            border-radius: 5px;'>
              <div class="col-md-3" style = 'border: 9px solid red;
              border-radius: 5px;'>
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
              </div>
              <div class="col-md-9" style = 'border: 9px solid blue;
              border-radius: 5px;'>
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
              </div>
              
            </div>
          </div>
    </body>
</html>