{% extends 'new_base.html' %}
{% block title %}لیست سرویسهای وایرلس{% endblock title %}

{% block content %}
<br>
        <button type = 'button' class="btn btn-success">
            <a href = "{% url 'customerservice:wireless-create' %}" >افزودن سرویس وایرلس</a>
        </button>   
        <h1>لیست سرویسهای وایرلس :</h1>
        {%if wireless_list%}
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">پاپ سایت</th>
                            <th scope="col">قرارداد</th>   
                            <th scope="col">مشترک</th>   
                            <th scope="col">نماینده</th>   
                            <th scope="col">پهنای باند ارسال اینترنت</th>   
                            <th scope="col">پهنای باند دریافت اینترنت</th>   
                            <th scope="col">پهنای باند ارسال اینترانت</th>   
                            <th scope="col">پهنای باند دریافت اینترانت</th>    
                            <th scope="col">پهنای باند ارسال نقطه به نقطه</th>   
                            <th scope="col">پهنای باند دریافت تقطه به نقطه </th>   
                            <th scope="col">آدرس IP</th>   
                            <th scope="col"> توضیحات</th>   
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in wireless_list%}
                            <tr>
                                <th scope="row"><a 
                                    href = "{{x.get_absolute_url }}">
                                    {{x.popsite}}</a></th>
                                <th scope="row"><a 
                                    href = "{{x.contract.get_absolute_url }}">
                                    {{x.contract}}</a></th>
                                {% comment %} <td>{{x.contract}}</td>     {% endcomment %}
                                <td>{{x.customer}}</td>    
                                <td>{{x.agent}}</td>    
                                <td>{{x.internet_t_bw}}</td>    
                                <td>{{x.internet_r_bw}}</td>    
                                <td>{{x.intranet_t_bw}}</td>    
                                <td>{{x.intranet_r_bw}}</td>    
                                <td>{{x.throughput_t_bw}}</td>    
                                <td>{{x.throughput_r_bw}}</td>    
                                <td>{{x.ip}}</td>    
                                <td>{{x.notes}}</td>    
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>   
            </div>
        {% else %}
            <p>سرویس وایرلسی وجود ندارد!</p>
        {% endif %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" 
                                href = '?page=1'>&laquo; اولین</a></li>
                            <li class="page-item"><a class="page-link" 
                                href = '?page={{page_obj.previous_page_number}}'>قبلی</a></li>
                        {% endif %}
                            <li class="page-item disabled"><a class="page-link"
                                href="#">صفحه {{page_obj.number}} از 
                                {{page_obj.paginator.num_pages}}</a></li>    
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                href = '?page={{page_obj.next_page_number}}'>بعدی</a></li>
                            <li class="page-item"><a class="page-link"
                                href = '?page={{page_obj.paginator.num_pages}}'>
                                آخرین &raquo; </a></li>
                        {% endif %}
                </ul>
            </nav>
{% endblock %}