{% extends 'new_base.html' %}
{% block content %}
    <div id="sm_ten" class="col-sm-10">
        <!-- <div class="add_obj">
            <button type = 'button' class="btn btn-success">
                <a href = "{% url 'customerservice:customer-create' %}" >افزودن مشترک</a>
            </button>
        </div> -->

        <div class="list_legend d-flex justify-content-between">
            <div>جستجو</div>
            <div ><img src="/static/search.png" width="40"></div>
        </div>

            <!-- https://stackoverflow.com/questions/45696685/search-input-with-an-icon-bootstrap -->
            <div class="p-3">
                <form method='post' action='{% url 'customerservice:search' %}'>
                    {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control border-end-0 border rounded-pill" placeholder = 'جستجوی مشترکین (نام تجاری / برند) و نمایندگان' name = 'searched' type="search" id="example-search-input" >
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" type="submit" style="margin-right: 10px;">
                                <i class="fa fa-search">جستجو</i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
{% endblock %}