{% extends 'new_base.html' %}
{% block content %}
    <div id="sm_ten" >
        <div class="list_legend d-flex justify-content-between">
            <div>جستجو</div>
            <div ><img src="/static/search.png" width="40"></div>
        </div>

            <!-- https://stackoverflow.com/questions/45696685/search-input-with-an-icon-bootstrap -->
            <div class="p-3">
                <form method='post' action='{% url 'customerservice:search' %}'>
                    {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control border-end-0 border rounded-pill" placeholder = 'جستجوی مشترکین (نام تجاری / برند) و نمایندگان' name = 'searched' type="search" id="example-search-input" >
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-primary" style="margin-right: 10px;">
                                <a >جستجو</a>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
{% endblock %}