{% extends 'new_base.html' %}
{% block content %}
{% if validlink %}
    <p>لطفا رمز عبور جدید را وارد کرده و تایید نمایید.</p>
    <form action='' method='post'>
        <div>
            <input type='hidden' value = '{{csrf_token}}' name = 'csrfmiddlewaretoken'>
        </div>
        <table>
            <tr>
                <td>{{form.new_password1.errors}}<label for='id_new_password1'>New Password:</label></td>
                <td>{{form.new_password1}}</td>
            </tr>
            <tr>
                <td>{{form.new_password2.errors}}<label for='id_new_password2'>Confirm Password:</label></td>
                <td>{{form.new_password2}}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type='submit' value='بازنشانی رمز عبور'></td>
            </tr>
        </table>
    </form>
    {%else%}
        <h1>بازنشانی رمز عبور ناموفق بود!</h1>
        <p1>لینک بازنشانی رمز عبور نامعتبر بود! شاید قبلا استفاده شده است. لطفا لینک جدیدی درخواست دهید</p1>
{% endif %}
{% endblock %}