{% extends 'new_base.html' %}
{% block content %}
<div id="sm_ten" class="col-sm-10">
    <div class="p-5" style = 'border: 1px solid rgb(176, 176, 173);
    border-radius: 8px'>        
                <div class="row row_form_field" style="text-align: center;">
                    <h4 class="p-3">بازنشانی رمز عبور:</h4>
                    <form action= '' method= 'post'>
                        {% csrf_token %}
                        {%if form.email.errors%}
                            {{form.email.errors}}
                        {%endif%}
                        <div class="row row_form_field">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-3">
                                بازنشانی رمز عبور 
                            </div>
                            <div class="col-sm-3">
                                {{form.email}}
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                        <div class="row" style="padding-top: 25px;">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4 d-flex justify-content-center">
                                <div class="ps-3">
                                    <button type="submit" class="btn btn-primary">بازنشانی رمز عبور</button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                            </div>
                        <!-- row form buttons -->
                        </div>
                    </form>
                </div>
    </div>
<!-- sm-10 -->
</div>
{% endblock %}